

.calc h2 {
    margin-left: 75px;
    margin-bottom: unset;
}

#show {
    padding-block: 5px;
    padding-right: 8px;
    text-align: right;
    margin-block: 20px;
    font-size: larger;
}

.btn-box {
    margin-left: 3px;
}

.btn-box .btn {
    width: 50px;
    padding: 3px;
    font-size: medium;
}


.btn-box .btnOperator {
    width: 50px;
    padding: 3px;
    font-size: medium;
    background-color: rgb(245, 191, 129);
}

#clear {
    width: 50px;
    padding: 3px;
    font-size: medium;
    background-color: rgb(245, 191, 129);
}

#btnEqual {
    width: 50px;
    padding: 3px;
    font-size: medium;
    background-color: rgb(245, 191, 129);
}

#btnZero {
    width: 105px;
    padding: 3px;
    font-size: medium;
}