<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.example.demo.dao.CalculatorDao">

    <resultMap type="HashMap" id="calculatorMap">
        <id column="no" property="no"/>
        <id column="date" property="date"/>
        <id column="formula" property="formula"/>
        <id column="result" property="result"/>
        <id column="send" property="send"/>
    </resultMap>
  
    <select id="findAll" resultMap="calculatorMap">
      SELECT 
        , no
        , DATE_FORMAT(date, '%Y-%m-%d') AS date
        , formula
        , result
          send
      FROM 
        calcTBL
      ORDER BY 
        no DESC
    </select>

    <select id="findByNo" resultMap="calculatorMap" parameterType="int">
      SELECT 
        , no
        , DATE_FORMAT(date, '%Y-%m-%d') AS date
        , formula
        , result
          send
      FROM 
        calcTBL
      WHERE 
        no = #{no}
    </select>

    <select id="findToday" resultMap="calculatorMap">
      SELECT 
        , no
        , DATE_FORMAT(date, '%Y-%m-%d') AS d
        , formula
        , result
          send
      FROM 
        calcTBL
      WHERE 
        DATE_FORMAT(date, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
      ORDER BY 
        no DESC
    </select>

    <insert id="add">
      INSERT INTO calcTBL
        (date, formula, result, send)
      VALUES
        (NOW(), #{formula}, #{result}, #{send})
    </insert>

    <delete id="delete" parameterType="int">
      DELETE 
      FROM 
        calcTBL
      WHERE 
        no = #{no}
    </delete>
  </mapper>