<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.example.demo.dao.CalculatorDao">

    <resultMap type="HashMap" id="calculatorMap">
        <id column="no" property="no"/>
        <id column="date" property="date"/>
        <id column="formula" property="formula"/>
        <id column="result" property="result"/>
    </resultMap>
  
    <select id="findAll" resultMap="calculatorMap">
      select 
          no,
          date_format(date, '%Y-%m-%d')as date,
          formula,
          result
      from calcTBL
      order by no desc
    </select>

    <select id="findByNo" resultMap="calculatorMap" parameterType="int">
      select 
          no,
          date_format(date, '%Y-%m-%d')as date,
          formula,
          result
      from calcTBL
      where no = #{no}
      order by no desc
    </select>

    <select id="findToday" resultMap="calculatorMap">
      select 
          no,
          date_format(date, '%Y-%m-%d')as d,
          formula,
          result
      from calcTBL
      where date_format(date, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
      order by no desc
    </select>

    <insert id="add">
      insert into calcTBL
        (date, formula, result)
      values
        (now(), #{formula}, #{result})
    </insert>

    <delete id="delete" parameterType="int">
      delete from calcTBL
      where no = #{no}
    </delete>
    
  </mapper>